{% extends 'base.html'  %}
{% load static %}
{% block content %}
<body>
<div class="container pt-5">
    <img src="{% static '8332ad98-73b6-4f28-ac6e-71707abb8e04-profile_image-300x300.png' %}" class="img-thumbnail rounded mx-auto d-block ">
    <blockquote class="blockquote text-center">
    <h1 class="text-center pt-4">Basil Maliyil</h1>
    <footer class="blockquote-footer pt-2">An aspiring python developer</footer>
    </blockquote>

<p class="pt-4">
    Welcome to my student portfolio website! I am a recent graduate passionate about software development and eager to
    share my journey and achievements. Throughout my academic career, I have developed several applications, showcasing
    my skills in coding, problem-solving, and innovative thinking. A significant milestone in my learning path was
    completing Ardit Sulce's Mega Python Course, where I gained a deep understanding of Python programming and honed
    my abilities through hands-on projects. This portfolio highlights my dedication to continuous learning and my
    readiness to contribute to the tech industry with my knowledge and experience. Thank you for visiting,
    and I look forward to connecting with you!
</p>

</body>
</div>

{% endblock content %}