{% extends 'base.html' %}
{% load static %}
{% block content %}
<body id="home-page">
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for row in app_list %}
        <div class="col d-flex align-items-stretch">
            <div class="card text-center w-100">
                {% with row.image as image_path %}
                <img src="{% static image_path %}" class="card-img-top" alt="...">
                {% endwith %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ row.title }}</h5>
                    <p class="card-text flex-grow-1">{{ row.description }}</p>
                    <a class="btn btn-primary mt-auto" href="{{ row.url }}">SOURCE</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
{% endblock content %}
